.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: 20px;
    
}
.div{
    /* color: white;
    background-color:  rgb(0, 0, 255); */
    padding: 20px;
    /* width: 200px;  */
    border-radius: 10px;   
    box-shadow: 0px 0px 30px;
   
}
.cart{
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(0, 128, 0);
    color: white;
    border: none;
}
.Infodialog{
    border-radius: 10px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
.info{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
}
.info:hover{
    background-color:blue;
}
.InfoScid{
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
}
.InfoAge{
    /* background-color: blue; */
    font-size: 30px;
    font-weight: 900;
    /* color: white; */
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
}
.InfoClose{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
}

.img{
    width: 200px;
}
.span{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}
span{
    font-weight: 900;
    font-size: 20px;
}
.size-6{
    width: 20px;
   
}
.edit{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
}
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 60px;
}
.Search{
    width: 600px;
    height: 30px;
    border-radius: 5px;
    
    padding: 5px;
}
.btncart{
    background-color: rgb(1, 18, 255);
    border: none;
    color: white;
    border-radius: 5px;
}
.btnDelet{
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.btnX{
    background-color: rgb(0, 128, 0);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px;   
}

.Editdialog{
    background:linear-gradient(to right, #00c6ff, #0072ff);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}
.Editname{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    
}
.Editage{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    
}
.Editscid{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    
}
.Editimg{
    width: 95%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    
}
select{
   
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    text-align: center;
}
.EditSave{
    background-color: rgb(0, 128, 0);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px;  
    width: 100px; 
}

@media (max-width: 510px) {
    .box{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin: 10px;
    }
    .div{
        width: 90%;
    }
    .img{
        width: 80%;
    }
    .header{
       display: flex;
    }
    .Search{
        width: 80%;
        margin-bottom: 20px;
    }
}